@font-face {
    font-family: 'MartekorFont';
    src: url('../assets/fonts.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'MartekorFont', -apple-system, BlinkMacSystemFont, sans-serif;
}