@font-face {
    font-family: 'AslumFont';
    src: url('fonts.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'AslumFont', -apple-system, BlinkMacSystemFont, sans-serif;
}